<div style="overflow-x:auto;" class="w3-padding w3-container">
  <h3 class="w3-center">My applications</h3>

  <table style="margin-bottom: 3vw;" class="w3-table-all w3-card-4" id="applications">
    <tr class="w3-blue">
      <th class="w3-center">Type of application</th>
      <th class="w3-center">Date</th>
      <th class="w3-center">Time</th>
      <th class="w3-center">Details</th>
    </tr>
    <tr *ngFor="let application of myApplications">
      <td class="w3-center">{{application.type_of_application}}</td>
      <td class="w3-center">{{application.datetime_of_application | date: 'dd.MM.yyyy'}}</td>
      <td class="w3-center">{{application.datetime_of_application | date: 'HH:mm'}}</td>
      <td class="w3-center"><div class="w3-center"><button (click)="viewDetails(application)" class="w3-btn w3-blue">View
          <i class="fa fa-search"></i>
        </button></div></td>
    </tr>
  </table>
</div>



<div class="w3-container w3-center">

    <div id="id01" class="w3-modal">
      <div class="w3-modal-content w3-animate-top w3-card-4">
        <header class="w3-container w3-blue">
          <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright">&times;</span>
          <h2>Application details</h2>
        </header>
        <div class="w3-container">
            <div><a target="_blank" [href]="details.photo_code"><img [src]="details.photo_code" alt=""></a></div>
          <p>{{selectedApplication.type_of_application}}</p>
          <p>{{selectedApplication.datetime_of_application}}</p>
          <p>{{selectedApplication.motivation}}</p>
          <p>{{details.citizenship}}</p>
          <p>{{details.country_of_birth}}</p>
          <p>{{details.date_of_birth}}</p>
          <p>{{details.given_name}}</p>
          <p>{{details.personal_identification_code}}</p>
          <p>{{details.surname}}</p>
          <p><i class="fa fa-map-marker" style="margin-right: 0.5vw;"> </i>{{details.location.country + ', ' + details.location.city}}</p>


        </div>
      </div>
    </div>
  </div>
