<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<body>
  <header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
    <img class="w3-image" src="../../../assets/images/bg.jpg" alt="bg" width="1500" height="606">
    <div class="w3-display-middle w3-margin-top w3-center">
      <h1 class="w3-xxxlarge w3-text-white">
        <span class="w3-padding w3-black" style="opacity: 0.8;">
          <b>E-residency</b>
        </span>
        <br>
        <span class="w3-hide-small w3-text-light-grey">Welcome!</span>
      </h1>
    </div>
  </header>

</body>

</html>
