<div class="search-container w3-center w3-padding">
    <input [(ngModel)]="search" type="text" placeholder="Search.." name="search">
    <button (click)="getAll()" style="margin-right: 15pt;" class="w3-button">
      <i class="fa fa-search"></i>
    </button>
  </div>

<div>
  <div class="row">
    <div class="column w3-card w3-blue w3-hover-white" *ngFor="let card of cards">
      <p style="text-align: center"><b>Name:</b> {{card.user.name}}</p>
      <p style="text-align: center"><b>Card code:</b> {{card.card_code}}</p>
      <p style="text-align: center"><b>Issue date:</b> {{card.issue_date | date: 'dd.MM.yyyy.'}}</p>
      <p style="text-align: center"><b>Expire date:</b> {{card.expire_date | date: 'dd.MM.yyyy.'}}</p>
      <div class="w3-center w3-padding">
        <button *ngIf="!card.active" style="margin-right: 5pt" class="w3-button w3-green" (click)="changeCardState(1, card)">
          REACTIVATE
        </button>
        <button *ngIf="card.active" class="w3-button w3-red" (click)="changeCardState(2, card)">
          DEACTIVATE
        </button>
      </div>
    </div>
  </div>
</div>

