<div>
  <div class="row">
    <div class="column w3-card w3-hover-blue" *ngFor="let card of cards">
      <h3 style="text-align: center">{{card.card_code}}</h3>
      <p style="text-align: center">{{card.issue_date}}</p>
      <p style="text-align: center">{{card.expire_date}}</p>
      <p style="text-align: center">{{card.active}}</p>
      <div class="w3-center w3-padding">
        <button *ngIf="!card.active" style="margin-right: 5pt" class="w3-button w3-green" (click)="changeCardState(1, card)">
          REACTIVATE
        </button>
        <button *ngIf="card.active" class="w3-button w3-red" (click)="changeCardState(2, card)">
          DEACTIVATE
        </button>
      </div>
    </div>
  </div>
</div>

