<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<div class="topnav" id="myTopnav">
  <a routerLink="/home"><i class="fa fa-home"></i> Home</a>
  <a *ngIf="auth.isAdmin()" style="cursor: pointer;" routerLink="/users"><i class="fa fa-users"></i> Users</a>
  <a *ngIf="auth.isAdmin()" style="cursor: pointer;" routerLink="/location"><i class="fa fa-map-marker"></i> Locations</a>
  <a *ngIf="auth.isLoggedIn()" style="cursor: pointer;" routerLink="/application"><i class="fa fa-telegram"></i> New Application</a>

  <a *ngIf="!auth.isLoggedIn()" class="w3-right" id="navSignIn" routerLink="/sign-in"><i class="fa fa-sign-in"></i> Sign in</a>

  <div class="dropdown w3-right" id="userDropdown" *ngIf="auth.isLoggedIn()">
    <button class="dropbtn"><i class="fa fa-user"></i> {{ auth.getUserDetails()?.name}}
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a style="cursor: pointer;" routerLink="/profile"><i class="fa fa-user"></i> My profile</a>
      <a style="cursor: pointer;" (click)="auth.logout()"><i class="fa fa-sign-out"></i> Logout</a>
    </div>
  </div>

  <a class="icon" (click)="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>

<router-outlet></router-outlet>

<footer class="w3-container w3-padding-32 w3-dark-grey w3-center">
  <div class="w3-padding-16"><span class="w3-xlarge w3-border-blue w3-bottombar">Contact</span></div>
    <p><i class="fa fa-map-marker w3-text-blue w3-xlarge"></i>  John Kennedy 36, New Belgrade, Serbia</p>
    <p><i class="fa fa-clock-o w3-text-blue w3-xlarge"></i>  Mon-Fri : 09-17h</p>
    <p><i class="fa fa-phone w3-text-blue w3-xlarge"></i>  +38165515524</p>
    <p><i class="fa fa-envelope-o w3-text-blue w3-xlarge"></i>  contact@eresidency.com</p>
<a class="w3-button w3-black w3-margin" (click)="toTop()"><i class="fa fa-arrow-up w3-margin-right"></i>To top</a>
<div class="w3-xlarge w3-section">
<i class="fa fa-facebook-official w3-hover-opacity" style="padding: 5pt;"></i>
<i class="fa fa-instagram w3-hover-opacity" style="padding: 5pt;"></i>
<i class="fa fa-snapchat w3-hover-opacity" style="padding: 5pt;"></i>
<i class="fa fa-pinterest-p w3-hover-opacity" style="padding: 5pt;"></i>
<i class="fa fa-twitter w3-hover-opacity" style="padding: 5pt;"></i>
<i class="fa fa-linkedin w3-hover-opacity" style="padding: 5pt;"></i>
</div>
<p>Powered by <a class="w3-hover-text-green">someone</a></p>
</footer>
