<div class="credit-card-wrap">
  <div class="mk-icon-world-map"></div>
  <div class="credit-card-inner">
    <header class="header">
      <div class="credit-logo">
        <div class="shape">
          <span class="txt">ER</span>
        </div>
        <span class="text">E-Residency card</span>
      </div>
    </header>
    <div style="float: left;" class="mk-icon-sim">
    </div>
    <div style="margin-top: 16px;" class="credit-font credit-card-number">Anna Timotihi Weber</div>
    <div class="credit-font credit-card-number">Personal code: 4716 6109 5211 3010</div>
    <div class="credit-font credit-card-number">Card code: 4716 6109 5211 3010</div>
    <footer class="footer">
      <div class="clearfix">
        <div class="pull-right">
          <div class="credit-card-date">
            <span class="title">Expires on</span>
            <span class="credit-font">01.12.2021.</span>
          </div>
        </div>
        <!--<div class="pull-right">
        </div>-->
      </div>
    </footer>
  </div>
</div>
