
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid rgb(46, 143, 235);
  border-bottom: 16px solid blue;
  width: 120px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
  margin-bottom: 20%;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



/* Float cancel and delete buttons and add an equal width */
.cancelbtn, .deletebtn {
  float: left;
  width: 50%;
}

/* Add a color to the cancel button */
.cancelbtn {
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  opacity: 0.9;
  background-color: #ccc;
  color: black;
  cursor: pointer;
}

.cancelbtn:hover {
  opacity: 1;
}

/* Add a color to the delete button */
.deletebtn {
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  opacity: 0.9;
  background-color: #f44336;
  cursor: pointer;
}

.deletebtn:hover {
  opacity: 1;
}

/* Add padding and center-align text to the container */
.container {
  padding: 16px;
  text-align: center;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #ddd;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* The Modal Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and delete button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .deletebtn {
     width: 100%;
  }
}

@media screen and (max-width: 700px) {
  .column {
    width: 97%;
    display: block;
    margin-bottom: 10px;
  }
}


.mk-icon-sim,
.mk-icon-world-map{
	background-size:contain;
	background-position:center;
	background-repeat:no-repeat;
}
.mk-icon-sim{
	background-size:55px;
}
body{
	margin:0;
	color:rgb(70, 119, 255);
	background:#9d9d9d;
	font:300 18px/18px Roboto, sans-serif;
}
*,:after,:before{box-sizing:border-box}
.pull-left{float:left}
.pull-right{float:right}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}

.credit-card-wrap .mk-icon-world-map:before,
.credit-card-wrap .credit-card-number:before{
	content:'';
	position:absolute;
}
.credit-card-wrap{
	top:50%;
	left:50%;
	width:450px;
	height:285px;
	position:relative;
	border-radius:20px;
	background:#5D4157;
	margin-left:-225px;
  margin-top:25px;
	margin-bottom:25px;
	background:-webkit-linear-gradient(to left, #5D4157 , #A8CABA);
	background:linear-gradient(to left, #5D4157 , #A8CABA);
	box-shadow:2px 2px rgba(0,0,0,.4);
}
.credit-card-wrap .mk-icon-world-map{
	top:0;
	left:0;
	right:0;
	bottom:0;
	width:100%;
	height:100%;
	overflow:hidden;
	position:absolute;
	border-radius:inherit;
}
.credit-card-wrap .mk-icon-world-map:before{
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index:0;
	background:rgba(23, 135, 240, 0.4);
	background:radial-gradient(circle at 0% 50%, rgba(250, 250, 250, 0.158) 9px, rgba(23, 135, 240, 0.4) 10px, rgba(23, 135, 240, 0.4) 11px) 0px 10px,
		radial-gradient(at 100% 100%, rgba(250, 250, 250, 0.158) 9px, rgba(23, 135, 240, 0.4) 10px, rgba(23, 135, 240, 0.4) 11px), rgba(23, 135, 240, 0.4);
	background-size: 20px 20px;
}
.credit-card-wrap .credit-card-inner{
	z-index:0;
	padding:30px;
	width:inherit;
	height:inherit;
	position:relative;
}
.credit-card-wrap .credit-logo .text{
	font-size:24px;
	font-weight:500;
	margin-left:10px;
	text-transform:uppercase;
	color:rgba(255,255,255,.8);
}
.credit-card-wrap .credit-logo .shape{
	width:40px;
	height:40px;
	display:inline-block;
	background-color:#8c7171;
	box-shadow:-2px 2px 0 rgba(255,255,255,.8);
	border-radius:40px 0 40px 40px;
	transform:rotate(-45deg);
}
.credit-card-wrap .credit-logo .shape>.txt{
	color:#ccc;
	display:block;
	width:inherit;
	font-size:14px;
	height:inherit;
	font-weight:500;
	line-height:40px;
	text-align:center;
	transform:rotate(45deg);
}
.credit-card-wrap .credit-font{
	color:#fff;
	font-size:18px;
	font-family:ocr_a_std,sans-serif;
	text-shadow:-1px -1px 0px rgba(255,255,255,0.3), 1px 1px 0px rgba(0,0,0,0.8);
}
.credit-card-wrap .credit-card-number{
	font-size:16px;
	text-align:center;
	position:relative;
	letter-spacing:2px;
	margin-bottom:7px;
	white-space:nowrap;
}
.credit-card-wrap .credit-card-number:before{
	top:100%;
	font-size:12px;
	font-family:Roboto;
	content:attr(data-text);
}
.credit-card-wrap .credit-card-date{
	color:#fff;
	text-align:center;
}
.credit-card-wrap .credit-card-date .title{
	width:50px;
	color:#deb887;
	font-size:12px;
	line-height:14px;
	text-align:right;
	display:inline-block;
	text-transform:uppercase;
}
.credit-card-wrap .credit-card-date .credit-font{
	top:-5px;
	left:10px;
	position:relative;
}
.credit-card-wrap .credit-author{
	padding-top:10px;
}
.credit-card-wrap .mk-icon-sim{
	width:55px;
	height:40px;
  margin: 35px 0;
	border-radius:8px;
	background-color:#fdd76f;
}
.credit-card-wrap .mk-icon-visa{
	width:90px;
	height:45px;
	bottom:-10px;
	position:relative;
}
.credit-card-wrap .footer{
	left:30px;
	right:30px;
	bottom:30px;
	position:absolute;
}
.credit-card-wrap .footer .pull-left{
	width:70%;
}
