.column {
  float: left;
  width: 24%;
  margin: 3pt;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 700px) {
  .column {
    width: 97%;
    display: block;
    margin-bottom: 10px;
  }
}

.search-containter button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}
